<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand {% if app.request.pathinfo == path('_index') %}active{% endif %}" href="{{ path('_index') }}">Start</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if app.request.pathinfo == path('_new') %}active{% endif %}" href="{{ path('_new') }}">Neuer Termin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.pathinfo == path('repeating_event_show') %}active{% endif %}" href="{{ path('repeating_event_show') }}">Wiederholende Termine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.pathinfo == path('about_calcifer') %}active{% endif %}" href="{{ path('about_calcifer') }}">Über Calcifer</a>
                </li>
            </ul>
        </div>
    </div>
</nav>